<!-- https://www.guru99.com/angularjs-views.html -->
<a class="btn btn-outline-secondary w-100" href="#!/questions">
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Manage Questions</h1>
  </div>
</div>
</a>

<br />
<br />
<br />

<a class="btn btn-outline-secondary w-100" href="#!/tags">
<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white">Manage Tags</h1>
  </div>
</div>
</a>
