<div class="row">
  <div class="col-md-6 col-xs-12 py-5 container" style="margin-bottom: 15px;">
    <div class="jumbotron text-white">
      <h1>Question {{ $ctl.question.id }}</h1>
      <p>{{ $ctrl.question.body }}</p>
    </div>
    <div class="row">
      <div ng-repeat="tag in $ctrl.question.tags" class="col-xs-1">
        <button type="button" class="btn btn-info btn-xs">
          {{ tag.display_name }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div class="col-xs-12 py-5 container">
      <div ng-repeat="answer in $ctrl.question.question_answers" class="alert alert-info">
        <p>{{ answer.body }}</p>
      </div>
    </div>
  </div>
</div>
