<div class="row">
  <div class="col-md-6 col-xs-12 container" style="margin-bottom: 15px;">
    <div class="jumbotron text-white">
      <h1>Question {{ $ctrl.question.id }}</h1>
      <textarea class="form-control" rows="15">{{ $ctrl.question.body }}</textarea>
    </div>
    <div class="row">
      <div ng-repeat="tag in $ctrl.question.tags" class="col-xs-1">
        <button type="button" class="btn btn-info btn-xs">
          {{ tag.display_name }}
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div ng-repeat="answer in $ctrl.question.question_answers">
      <div class="row">
        <div class="col-9">
          <textarea class="form-control" rows="5">{{ answer.body }}</textarea>
        </div>
        <div class="col-3">
          <br />
          <br />
          <label><input ng-model="answer.is_correct_answer" type="checkbox"> Correct</label>
        </div>
      </div>
    </div>
  </div>
</div>
