<div class="row">
  <div class="col-12" style="margin-bottom: 15px;">
    <h1>Question {{ question.id }}</h1>
    <button type="button" class="btn btn-primary" ng-click="save_question()">Save Question</button>
  </div>
  <div class="col-md-6 col-xs-12 container" style="margin-bottom: 15px;">
    <div class="jumbotron text-white">
      <textarea class="form-control" rows="15" ng-model="question.body"></textarea>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-1">
        <button type="button" class="btn btn-primary btn-xs">
          Tags:
        </button>
      </div>
      <div class="col-xs-12 col-md-10">
        <button type="button" ng-repeat="tag in question.tags" class="btn btn-info" ng-click="tag.remove()">
          {{ tag.display_name }}
        </button>
      </div>
      <div class="col-xs-12">
        <input type="text" ng-model="new_tag_name" />
        <!-- button type="button" class="btn btn-success btn-xs" ng-click="question.tags.push({display_name: new_tag_name})" -->
        <button type="button" class="btn btn-success btn-xs" ng-click="add_tag(new_tag_name)">
          Add
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    <div ng-repeat="answer in question.question_answers">
      <div class="row">
        <div class="col-9">
          <textarea class="form-control" rows="5" ng-model="answer.body"></textarea>
        </div>
        <div class="col-3">
          <br />
          <label><input ng-model="answer.is_correct_answer" type="checkbox"> Correct</label>
          <br />
          <button type="button" class="btn btn-danger" ng-click="delete_answer(answer)">Delete</button>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="question.question_answers.push({})">Add Answer</button>
  </div>
</div>
